.home {
  /* padding: -100px 0; */
  position: relative;
  bottom: 35px;
}

.container-search {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  /* position: relative; */
  /* width: 80%; */
  /* justify-content: center; */
}

.search {
  /* height: 70px; */
  /* border-left: solid 5px var(--desaturated); */
  /*          x     y   difum       color*/
  box-shadow: 30px 20px 100px -40px var(--Dark-Grayish-Cyan);
  border-radius: 5px;
  padding: 25px;
  background-color: white;
  padding: 0;
}

.search-elem {
  display: flex;
  justify-content: space-between;
}

.clear {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  color: var(--desaturated);
  cursor: pointer;
}

.clear:hover {
  text-decoration: underline;
}

.search-list {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.search li {
  background-color: var(--Light-Grayish-Cyan-Filter-Tablets);
  padding: 0.6rem;
  margin-right: 1rem;
  border-radius: 3px;
  color: var(--desaturated);
}

.container-workers {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  /* position: relative; */
  /* width: 80%; */
  /* justify-content: center; */
}

.box {
  /* height: 70px; */
  border-left: solid 5px var(--desaturated);
  /*          x     y   difum       color*/
  box-shadow: 30px 20px 100px -40px var(--Dark-Grayish-Cyan);
  border-radius: 5px;
  padding: 25px;
  background-color: white;
}

.user {
  display: grid;
  grid-template-columns: 50% 50%;
  /* align-items: stretch; */
}

.user-data {
  display: grid;
  grid-template-columns: 15% 85%;
}

.user-perfil {
  display: flex;
  flex-direction: column;
  /* line-height: 30px; */
  justify-content: space-between;
  margin-left: 10px;
}

.lista-company {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-company li {
  margin-right: 20px;
  padding: 0.5rem;
  border-radius: 1rem;
}

.company {
  color: var(--desaturated);
}

.new {
  background-color: var(--desaturated);
  color: var(--Light-Grayish-Cyan-Filter-Tablets);
}

.featured {
  background-color: var(--Very-Dark-Grayish-Cyan);
  color: var(--Light-Grayish-Cyan-Filter-Tablets);
}

.position {
  padding: 0.5rem;
  cursor: pointer;
}

.position:hover {
  color: var(--desaturated);
}

.user-contract {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--Dark-Grayish-Cyan);
}

.user-contract li {
  padding-right: 20px;
  padding: 0.5rem;
}

.user-lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.lang {
  display: flex;
  padding: 0;
  list-style: none;
}

.lang li {
  margin-left: 20px;
  background-color: var(--Light-Grayish-Cyan-Filter-Tablets);
  padding: 0.4rem;
  border-radius: 3px;
  color: var(--desaturated);
  cursor: pointer;
}

.lang li:hover {
  background-color: var(--desaturated);
  color: var(--Light-Grayish-Cyan-Filter-Tablets);
}
