.container-workers {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  /* position: relative; */
  /* width: 80%; */
  /* justify-content: center; */
}

.box {
  /* height: 70px; */
  border-left: solid 5px var(--desaturated);
  /*          x     y   difum       color*/
  box-shadow: 30px 20px 100px -40px var(--Dark-Grayish-Cyan);
  border-radius: 5px;
  padding: 25px;
  background-color: white;
}

.user {
  /* display: grid; */
  /* grid-template-columns: 50% 50%; */
  display: flex;
  justify-content: space-between;
}

.user-data {
  display: flex;
  align-items: center;
  /* grid-template-columns: 15% 85%; */
}

.user-perfil {
  display: flex;
  flex-direction: column;
  /* line-height: 30px; */
  justify-content: space-between;
  margin-left: 10px;
}

.lista-company {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-company li {
  margin-right: 20px;
  padding: 0.5rem;
  border-radius: 1rem;
}

.hr {
  height: 1.2px;
  background-color: var(--Dark-Grayish-Cyan);
  opacity: 0;
}

.company {
  color: var(--desaturated);
}

.new {
  background-color: var(--desaturated);
  color: var(--Light-Grayish-Cyan-Filter-Tablets);
}

.featured {
  background-color: var(--Very-Dark-Grayish-Cyan);
  color: var(--Light-Grayish-Cyan-Filter-Tablets);
}

.position {
  padding: 0.5rem;
  cursor: pointer;
}

.position:hover {
  color: var(--desaturated);
}

.user-contract {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--Dark-Grayish-Cyan);
}

.user-contract li {
  padding-right: 20px;
  padding: 0.5rem;
}

.user-lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.lang {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  padding: 0;
  flex-wrap: wrap;
}

.lang div {
  margin-top: 5px;
  margin-left: 10px;
  background-color: var(--Light-Grayish-Cyan-Filter-Tablets);
  padding: 0.4rem;
  border-radius: 3px;
  color: var(--desaturated);
  cursor: pointer;
}

.lang div:hover {
  background-color: var(--desaturated);
  color: var(--Light-Grayish-Cyan-Filter-Tablets);
}

@media (max-width: 630px) {
  .box {
    margin-bottom: 20px;
  }

  .user {
    flex-direction: column;
  }

  .user-data {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-perfil {
    margin: 0;
  }

  .user-data img {
    width: 60px;
    height: auto;
    position: relative;
    bottom: 55px;
    margin-bottom: -50px;
  }

  .user-perfil {
    width: 100%;
  }

  .lista-company {
    flex-wrap: wrap;
  }

  .user-data hr {
    opacity: 1;
    width: 100%;
  }

  .user-lang {
    justify-content: flex-start;
  }

  .user-lang div {
    margin-left: 0;
    margin-right: 10px;
  }
}
