:root {
  --desaturated: #5ba4a4;
  --Light-Grayish-Cyan-background: #effafa;
  --Light-Grayish-Cyan-Filter-Tablets: #eef6f6;
  --Dark-Grayish-Cyan: #7b8e8e;
  --Very-Dark-Grayish-Cyan: #2c3a3a;
  font-size: 15px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #effafa;
  background-color: var(--Light-Grayish-Cyan-background);
  font-family: League Spartan, sans-serif;
  font-weight: 700;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
.home {
  bottom: 2rem;
  position: relative;
}
.head {
  background-color: var(--desaturated);
  background-image: url("../media/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 175px;
  width: 100%;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin 20s linear infinite;
    animation: App-logo-spin 20s linear infinite;
  }
}
.App-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}
.App-link {
  color: #61dafb;
}
@-webkit-keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.container-search {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  padding-bottom: 2rem;
}
.search {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 30px 20px 100px -20px var(--Dark-Grayish-Cyan);
  opacity: 1;
  padding: 0;
}
.search-close {
  opacity: 0;
}
.search-elem {
  display: flex;
  justify-content: space-between;
}
.search-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 2rem;
}
.search li {
  background-color: var(--Light-Grayish-Cyan-Filter-Tablets);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  color: var(--desaturated);
  padding: 0.5rem;
}
.icon-remove {
  background-color: var(--desaturated);
  background-repeat: no-repeat;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  height: 14px;
  margin-right: 1rem;
  padding: 0.6rem;
}
.icon-remove:hover {
  background-color: #000;
}
.clear {
  align-items: center;
  color: var(--desaturated);
  cursor: pointer;
  display: flex;
  padding: 0 2rem;
}
.clear:hover {
  text-decoration: underline;
}
.container-workers {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  padding-top: 2rem;
}
.box {
  background-color: #fff;
  border-left: 5px solid var(--desaturated);
  border-radius: 5px;
  box-shadow: 30px 20px 100px -40px var(--Dark-Grayish-Cyan);
  padding: 25px;
}
.user {
  display: flex;
  justify-content: space-between;
}
.user-data {
  align-items: center;
  display: flex;
}
.user-perfil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.lista-company {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.lista-company li {
  border-radius: 1rem;
  margin-right: 20px;
  padding: 0.5rem;
}
.hr {
  background-color: var(--Dark-Grayish-Cyan);
  height: 1.2px;
  opacity: 0;
}
.company {
  color: var(--desaturated);
}
.new {
  background-color: var(--desaturated);
}
.featured,
.new {
  color: var(--Light-Grayish-Cyan-Filter-Tablets);
}
.featured {
  background-color: var(--Very-Dark-Grayish-Cyan);
}
.position {
  cursor: pointer;
  padding: 0.5rem;
}
.position:hover {
  color: var(--desaturated);
}
.user-contract {
  color: var(--Dark-Grayish-Cyan);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-contract li {
  padding: 0.5rem;
}
.user-lang {
  justify-content: flex-end;
  padding-right: 20px;
}
.lang,
.user-lang {
  align-items: center;
  display: flex;
}
.lang {
  flex-wrap: wrap;
  padding: 0;
}
.lang div {
  background-color: var(--Light-Grayish-Cyan-Filter-Tablets);
  border-radius: 3px;
  color: var(--desaturated);
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;
  padding: 0.4rem;
}
.lang div:hover {
  background-color: var(--desaturated);
  color: var(--Light-Grayish-Cyan-Filter-Tablets);
}
@media (max-width: 630px) {
  .box {
    margin-bottom: 20px;
  }
  .user,
  .user-data {
    flex-direction: column;
  }
  .user-data {
    align-items: flex-start;
  }
  .user-perfil {
    margin: 0;
  }
  .user-data img {
    bottom: 55px;
    height: auto;
    margin-bottom: -50px;
    position: relative;
    width: 60px;
  }
  .user-perfil {
    width: 100%;
  }
  .lista-company {
    flex-wrap: wrap;
  }
  .user-data hr {
    opacity: 1;
    width: 100%;
  }
  .user-lang {
    justify-content: flex-start;
  }
  .user-lang div {
    margin-left: 0;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=main.9788f61b.css.map*/
